<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WebCalculator</title>
</head>
<body>
  <p>Используемые типы операций <br>
    addition - сложение <br>
    subtraction - вычитание <br>
    multiplication - умножение <br>
    division - деление</p>
  <p>Пример GET запроса</p>
  <a href="/calculate?first_operand=10&second_operand=3&type_operation=addition">http://localhost:8080/calculate?first_operand=10&second_operand=3&type_operation=addition</a> <br>
  <a href="/calculate?first_operand=10&second_operand=3&type_operation=subtraction">http://localhost:8080/calculate?first_operand=10&second_operand=3&type_operation=subtraction</a> <br>
  <a href="/calculate?first_operand=10&second_operand=3&type_operation=multiplication">http://localhost:8080/calculate?first_operand=10&second_operand=3&type_operation=multiplication</a> <br>
  <a href="/calculate?first_operand=10&second_operand=3&type_operation=division">http://localhost:8080/calculate?first_operand=10&second_operand=3&type_operation=division</a>
</body>
</html>